html * {
  font-family: 'Egg Roll', sans-serif;
}

.title {
  text-align: center;
  font-size: 6vh;
  font-weight: bold;
}

body {
  background: url('../images/bamboo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-image: url('../images/bamboo.jpg') no-repeat center fixed;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-attachment: fixed;
  background-color: #fff;
  -webkit-background-size: calc(100vw) calc(100vh);
  -moz-background-size: calc(100vw) calc(100vh);
  -o-background-size: calc(100vw) calc(100vh);
  background-size: calc(100vw) calc(100vh);
}

#welcome {
  font-family: 'Egg Roll Halftone', sans-serif !important;
  font-size: 10vh;
  margin-top: 10vh;
}

.menu-text {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.exclam {
  width: 63px;
  height: 63px;
}

#players {
  font-size: 4vh;
  background-color: rgb(248, 244, 218);
  border: 1px solid black;
  text-align: center;
  overflow: auto;
  padding: 0;
  margin-top: 4vh;
}

#players-list {
  align-self: center;
  display: flex;
  flex-direction: column;
}

#players-list-title {
  background-color: rgb(212, 255, 230);
  border-bottom: 1px solid black;
  position: sticky;
  left: 10px;
  top: 0px;
}

.board-square {
  width: 65px;
  height: 65px;
  border: 1px solid black;
  background-image: url('../images/square-bg.png');
}

.landing-form {
  background-color: rgb(158, 158, 158);
  border: 1px solid lightgray;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 30vw;
}

li {
  list-style: none;
  font-weight: bold;
  color: gray;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  align-self: center;
}

li:hover {
  cursor: pointer;
  color: rgb(41, 230, 198);
}

.column-title {
  align-items: center;
}

.stone {
  width: 50px;
  height: 50px;
}

.message {
  width: 20vw;
  height: 18vh;
  position: fixed;
  top: 0vh;
  left: 30vw;
  background-color: rgb(189, 189, 189);
  text-align: center;
  z-index: 30;
  border-radius: 5px;
  border: 1px solid black;
  transform: translateY(-40vh);
  transition: transform 1s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.message.show {
  transform: translateY(40vh);
}

#message-text {
  font-size: 3vw;
  margin-top: 0.5vh;
}

#close-message {
  max-width: 8vw;
  min-width: 6vw;
  align-self: center;
  margin-top: -2vh;
}

.blue {
  color: rgb(56, 202, 247);
}

.green {
  color: rgb(27, 236, 27);
}

.rule {
  font-size: 2.1vh;
}

.navbar {
  font-size: 3.5vh;
}

.navbar-expand-md {
  background-color: rgb(139, 137, 137);
}

.menu-item {
  min-width: 40vw;
}

@media (min-width: 319px) {
  .landing-form {
    background-color: rgb(158, 158, 158);
    border: 1px solid lightgray;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 70vw;
  }
  .board-square {
    width: 12vw;
    height: 12vw;
  }
  .board {
    margin-top: 4vh;
    margin-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
  }
  #players {
    max-height: 80px;
    max-width: 90.8vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0vh;
    overflow-y: hidden;
    overflow-x: auto;
  }
  #players-list {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 3vh;
  }
  .stone {
    max-width: 10.8vw;
    max-height: 10.8vw;
  }
  .exclam {
    width: 11.3vw;
    height: 11.3vw;
  }
  #welcome {
    margin-top: 15vh;
    font-size: 8vw;
  }
  .dropdown-menu {
    width: 65vw;
    font-size: 10vw;
  }
}

@media (min-width: 414px) {
  .board-square {
    width: 52px;
    height: 52px;
  }
  .board {
    margin-bottom: 2vh;
    margin-left: 8vw;
    margin-right: auto;
  }
  #players {
    max-height: 110px;
    max-width: 416px;
    margin-left: 10vw;
    margin-right: auto;
    overflow-y: hidden;
    overflow-x: auto;
  }
  .stone {
    width: 50px;
    height: 50px;
  }
  .exclam {
    width: 50px;
    height: 50px;
  }
  #welcome {
    font-size: 7vw;
    margin-top: 10vh;
  }
  #players-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 10vh;
  }
  .dropdown-menu {
    width: 65vw;
    font-size: 10vw;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  #players {
    max-height: 145px;
  }
  .stone {
    width: 50px;
    height: 50px;
  }
  .exclam {
    width: 50px;
    height: 50px;
  }
  .landing-form {
    min-width: 49vw;
    max-width: 50vw;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .board {
    margin-left: 15vw;
  }
  #players {
    max-height: 150px;
    min-width: 418px;
    margin-left: 16.5vw;
  }
  #players-list {
    display: flex;
    flex-direction: row;
  }
  .dropdown-menu {
    width: 40vw;
    font-size: 8vw;
  }
  .landing-form {
    min-width: 29.9vw;
    max-width: 30vw;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .board {
    margin-right: -20vw;
    margin-left: 15vw;
  }
  #players {
    max-width: 20vw;
    margin-left: -10vw;
    max-height: 480px;
    margin-top: 4vh;
    min-width: 17px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  #players-list {
    flex-direction: column;
  }
  .board-square {
    width: 60px;
    height: 60px;
  }
  .stone {
    width: 58px;
    height: 58px;
  }
  .exclam {
    width: 58px;
    height: 58px;
  }
  .dropdown-menu {
    width: 35vw;
    font-size: 7vw;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .board {
    margin-left: 10vw;
  }
  #players {
    max-width: 20vw;
    max-height: 502px;
    margin-right: 10vw;
  }
  .board-square {
    width: 63px;
    height: 63px;
  }
  .stone {
    width: 61px;
    height: 61px;
  }
  .exclam {
    width: 61px;
    height: 61px;
  }
  #welcome {
    font-size: 10vh;
  }
}
