
.title {
    text-align: center;
    margin-top: 3vh;
    font-size: 6vh;
    font-weight: bold;
}

#landing-main {
    width: 100vw;
    height: 100vh;
    background: url("./images/table.jpg");
    background-size: 100%;
}

#main {
    align-items: center;
}

.board {
    align-self: center;
}

.rule {
    background-color: lightblue;
}

.players {
    background-color: lightgray;
}

.board-square{
    width: 8vh;
    height: 8vh;
    border: 1px solid black;
    background-color: lightgray;
}

.landing-form {
    background-color: lightgray;
    max-width: 30vw;
    border: 1px solid lightgray;
    border-radius: 5px;
    position: absolute;
    top: 33vh;
    left: 36vw;
}

.contribute {
    text-decoration: none;
    position: fixed;
    top: 95vh;
    left: 70vw;
}