
.title {
    text-align: center;
    font-size: 6vh;
    font-weight: bold;
}

#landing-main {
    width: 100vw;
    height: 100vh;
    background: url("./images/table.jpg");
    background-size: 100%;
}

#main {
    width: 100vw;
    height: 100vh;
    background: url("./images/paper-door.jpg");
    background-size: 100%;
}

.board {
    align-self: center;
}

.rule {
    background-color: white;
    border: 1px solid black;
}

.players {
    background-color: white;
    border: 1px solid black;
}

.board-square {
    width: 9vh;
    height: 9vh;
    border: 1px solid black;
    background-color: rgb(240, 240, 240);
}

.landing-form {
    background-color: lightgray;
    max-width: 30vw;
    border: 1px solid lightgray;
    border-radius: 5px;
    position: absolute;
    top: 33vh;
    left: 36vw;
}

.contribute {
    text-decoration: none;
    position: fixed;
    top: 93vh;
    left: 65vw;
}

ul {
    align-self: center;
}

li {
    list-style: none;
    font-weight: bold;
    color: gray;
}

li:hover {
    cursor: pointer;
    color: rgb(41, 230, 198);
}

.column-title {
    align-items: center;
}

.stone {
    max-width: 8.8vw;
    max-height: 8.8vh;
}

.message {
    width: 30vw;
    height: 18vh;
    position: fixed;
    top: 0vh;
    left: 35vw;
    background-color: rgb(151, 255, 250);
    text-align: center;
    z-index: 30;
    border-radius: 5px;
    border: 1px solid black;
    transform: translateY(-40vh);
    transition: transform 1s ease-in-out;
    display: flex;
    flex-direction: column;
}

.message.show {
    transform: translateY(40vh);
}